body {
    font-family: sans-serif;
}

.full-height {
    height: 100vh;
}

.device-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.camra-section {
    border: 1px solid #c8c8c8;
    width: 400px;
    height: 250px;
    margin: 20px 0;

}

video {
    width: 100%;
}

button {
    margin: auto;
    border-radius: 30px;
    border-width: 3px;
}

.btn {
    border-radius: 30px;
    display: inherit;
    margin: auto;
}

.btn-save {
    font-size: 16px;
    padding-right: 30px;
    padding-left: 30px;
}

.media {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #c2c2c2;
    align-items: center;
}

img {
    width: 100px;
}

.fa {
    color: #007bff;
}

.products-cotainer {
    padding: 20px 0;
}

.hdr {
    margin-bottom: 15px;
}

.hdr span {
    color: #007bff;
}

.inherit-clr {
    color: inherit;
    text-decoration: none;
}

.fa-camera {
    margin: 0 10px;
    font-size: 25px;
    color: inherit;
}

.toast-header {
    font-weight: bold;
    color: #000000;
}

.toast-header .close {
    right: 5px;
    position: absolute;

}